*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.bg-image{
    width: 100%;
    height: 100vh;
    background: url("bg.avif");
    background-size: 160%;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 30px 100px;
}

@media (max-width:500px) {
    .container{
        padding: 10px;
    }
}